{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau USER{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}



    {{ form_end(form) }}
{% endblock %}
